.container {
  max-width: 36rem;
  padding: 0 1rem;
  margin: 3rem auto 6rem;
  border-color:blue;
  background-color:#234234;
  background-size:cover;
  background-repeat: no-repeat;
  border:2px solid #333333;
  border-radius: 10px;

}

.header {
  display: flex;
  flex-direction: column;
  align-items:center;
}

.backToHome{
  margin:60px;
  text-align: center;
}
